/* colors */

* {
  background-alt: #24283b;
  background:     #24283b;
  selected:       #f7768eff;
  foreground:     #f7768eff;
  ac:             #ea907aff;
  red:            #D35D6Eff;
  green:          #90c861ff;
  yellow:         #000000ff;
  blue:           #7aa2f7;
  purple:         #bb9af7ff;
  cyan:           #bb9af7ff;
  border:         #24283b;
}
